@import './styles/variables.css';

/* Обнуление стилей */
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font: inherit;
  text-decoration: none;
  color: inherit;
}

div {
    box-sizing: border-box;
}

body {
  background-color: var(--color-background-main);
  height: 100%;
  min-width: 320px;
  color: var(--color-text-primary);
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

h2 {
  font-size: var(--font-size-h2);
}

.title {
  font-size: var(--font-size-h1);
}

/* Шрифты */
@font-face {
  font-family: "Nunito Sans";
  src: url("./assets/fonts/NunitoSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}